language: go
go:
  - 1.6

sudo: false

env:
  global:
    - secure: "YWj5Rea87tVLRT4VKNQCbPRIf6PTT4/oK7quGlIEsL58GWD3D8j5oUnco4WKa4qOhLJQOlk/s2FFjTmjECuFjPdYxIuAk7jHnwehoQqEfR56GIFtKjkbIOTEtb0GR9MqJb3ni88f4Wr5cdIs7WN6nhjWfpJgW2UIhiAgBqWERmA="
    - secure: "d7xjoSMb5qwH5X7GxK8CrenCXKk71mO0mNIijFT9Um3T4GsyFP8ebXr39xNg1ZrfGwlcbJXP5xelxhSsFdokxV+vTOpZ4Y8VecnuFc/1HYYX+RBNn8RYeyrIuC50omi7rmNptL/svTZ2qKoBbqsra6MoSFnacTyaj7z/JNPR4sg="
    - secure: "DJXnCDoLwcB+M50Z83YtBMZP31OhWL2USOqvCNUhB87gWo0K3YvTdkeM/JLdqqz9ij6QFPBU1I7Dv7dl0dASD6tYCWwsr5AmxW+IL71dHqoQH+ScbyzEgIIwA8F3zV/Z2PQC47CyteckiqzQF92EMatlj/KOMz4wdDPMBu2tNCk="

before_install:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin

install:
  - go get github.com/spf13/hugo

script:
  - hugo

deploy:
  - provider: s3
    access_key_id:
      secure: "Nx+Wv3hRsxNs/5wemAXyq5W7clORERRWsq9tLCRpdNUVbU02JYOKbtYlBhaPyg0ICvTi1O69Hdzn5jgEKATwSJIiAAcRf+QiNoVE8wuZIzJjuhORRQ3fTEjid2MSotjRCo2hl89zryLRiOQYxs+jFkhqYWPQCfEFrWhJBnNQ//Y="
    secret_access_key: 
      secure: "C18EvUElEwF0RMGvIM2zZdcrit5EPVT/nrKGT/jNYKxn6NO8hsn+U3rc/kTFZcit5l3Sler1A0Vyk0f9gs3NPE5XyTA8x6v00twgASAWkatLZsOwCmcdJc9hCC99FQ6vreZDdRp6qi9LzBr34Cx5HbhsefOSn+jJf0Ec/HV6/rk="
    bucket:
      secure: "FYIWhHFE5RZ4Gtsc1F82YOOO5nJFd70t4ZYk8OL39yTWImu7Eo8+Ar96Pji6eX26jX0vzgHLIF3yyV/xdm4GwHHn1zZOz+XFVft+mASUeIlIqVWwyK1eC8dycWM2KcF2ysBBDebHZ4DlD1Xgp/WWbd9MaCWxOkUn3o5hDaaNUyY="
    region: eu-west-1
    local_dir: public
    skip_cleanup: true

after_deploy:
  - aws configure set preview.cloudfront true
  - aws cloudfront create-invalidation --distribution-id $CF_DISTRIBUTION_ID --paths /
