{{ partial "header.html" . }}
      <div class="posts">
        <div class="post">
          <h2>{{ .Title }}</h2>
          <p class="post-date">Published on {{ .Date.Format "2006-01-02 15:04" }}</p>
          {{ if .Params.categories }}
          <p class="post-categories">
          Categories: {{ delimit .Params.categories ", " }}
          </p>
          {{ end }}
          {{ if .Params.tags }}
          <p class="post-tags">
            Tags: {{ delimit .Params.tags ", " }}
          </p>
          {{ end }}
          {{ .Content }}
        </div>
      </div>
{{ partial "footer.html" . }}