{{ partial "header.html" . }}
      <div class="posts">
        {{ range first 10 (where .Data.Pages "Section" "posts") }}
        <div class="post">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p class="post-date">Published on {{ .Date.Format "2006-01-02 15:04" }}</p>
          {{ if .Params.categories }}
          <p class="post-categories">
          Categories: {{ delimit .Params.categories ", " }}
          </p>
          {{ end }}
          {{ if .Params.tags }}
          <p class="post-tags">
            Tags: {{ delimit .Params.tags ", " }}
          </p>
          {{ end }}
          {{ .Content }}
        </div>
        {{ end }}
      </div>
{{ partial "footer.html" . }}